
<!-- Standard Meta -->
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properities -->
  <title>Education Dashboard</title>
  <link rel="shortcut icon" type="image/ico" href="/education/media/images/logo.png">

<!--TODO STORE ALL CSS AND JS FILES LOCALLY-->

<!--Datatables/Editor-->
  <link rel="stylesheet" type="text/css" href="media/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="css/editor.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="extensions/Responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="extensions/RowReorder/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/select2.min.css">
<style type="text/css" class="init"> </style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css">

<script type="text/javascript" language="javascript" src="js/jquery-1.12.0.min.js"> </script>
<script type="text/javascript" language="javascript" src="js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" language="javascript" src="extensions/Responsive/js/dataTables.responsive.min.js"> </script>
<script type="text/javascript" language="javascript" src="extensions/RowReorder/js/dataTables.rowReorder.min.js"> </script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="test/javascript" language="javascript" src="js/range_dates.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datepicker.min.css" />

<!--Datatables/Editor-->
  <script type="text/javascript" language="javascript" src="js/dataTables.buttons.min.js"> </script>
  <script type="text/javascript" language="javascript" src="js/dataTables.select.min.js"> </script>
  <script type="text/javascript" language="javascript" src="js/dataTables.editor.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/buttons.html5.min.js"> </script>
  <script type="text/javascript" language="javascript" src="js/buttons.flash.min.js"> </script>
  <script type="text/javascript" language="javascript" src="fieldplugins/editor.select2.js"> </script>
  <script type="text/javascript" language="javascript" src="fieldplugins/editor.title.js"> </script>

<!--semantic ui-->
  <script type="text/javascript" language="javascript" src="js/semantic.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/select2.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/moment.min.js"></script>
